// these are the default EcoHive Colours
$primary: #f3d076;
$secondary: #f2a359;
$interaction: #993800;
$interaction-disabled: hsl(22, 32%, 52%);
$additional: #579e6c;
$additional-dark: #065143;
$ecohive-grey: #595959;

@import '~bootstrap/scss/bootstrap';
