@use '../global.scss';

#eventsContainer {
  display: 'flex';
  flex-direction: 'column';
  justify-content: 'space-between';
  width: '100%';
}

// Styling overrides when the screen is wider than desktop
@media (min-width: 800px) {
  #eventsContainer {
    flex-direction: row !important;
    padding: 24px !important;
    gap: 12px !important;
  }
}

.is-ecohive-primary{
  color: white !important;
  background-color: global.$primary !important;

}
.is-ecohive-secondary{
  color: white !important;
  background-color: global.$secondary !important;


}

.is-ecohive-interaction{
  color: white !important;
  background-color: global.$interaction !important;

}

.is-ecohive-additional{
  color: white !important;
  background-color: global.$additional !important;
}

.eventInfo {
  background-color: global.$primary !important
}
.editButton {
  background-color: global.$secondary !important

}
#back-btn {
  background-color: global.$additional !important;
}

#event-details-btn{
  background-color: global.$additional !important;
}

