@use '../global';

#ecohiveNameTitle {
  color: global.$ecohive-grey;
  font-size: 3em;
}
@media only screen and (min-width: 400px) {
  #ecohiveNameTitle {
    font-size: 4em;
  }
}
@media only screen and (min-width: 500px) {
  #ecohiveNameTitle {
    font-size: 5em;
  }
}

#loginSecondaryHeader {
  color: global.$ecohive-grey;
}

#signUpHeader {
  color: global.$ecohive-grey;
  display: inline;
}

#signUpLink {
  color: global.$interaction;
  display: inline;
}

#loginButton {
  background-color: global.$interaction;
  color: white;
}
