@use '../global';

// The CSS black box of Hexagon wizardry, don't touch!
#loginBackground {
  --s: 70px; /* shape size */
  --m: 2px; /* line thickness */
  --hex-col: #f3d076;
  --line-col: #f2a359;

  --v1: var(--hex-col) 119.5deg, #0000 120.5deg;
  --v2: var(--line-col) 119.5deg, #0000 120.5deg;
  background: conic-gradient(
      at var(--m) calc(var(--s) * 0.5777),
      transparent 270deg,
      var(--line-col) 0deg
    ),
    conic-gradient(
      at calc(100% - var(--m)) calc(var(--s) * 0.5777),
      var(--line-col) 90deg,
      transparent 0deg
    ),
    conic-gradient(from -60deg at 50% calc(var(--s) * 0.8662), var(--v1)),
    conic-gradient(
      from -60deg at 50% calc(var(--s) * 0.8662 + 2 * var(--m)),
      var(--v2)
    ),
    conic-gradient(
      from 120deg at 50% calc(var(--s) * 1.4435 + 3 * var(--m)),
      var(--v1)
    ),
    conic-gradient(
      from 120deg at 50% calc(var(--s) * 1.4435 + var(--m)),
      var(--v2)
    ),
    linear-gradient(
      90deg,
      var(--hex-col) calc(50% - var(--m)),
      var(--line-col) 0 calc(50% + var(--m)),
      var(--hex-col) 0
    );
  background-size: calc(var(--s) + 2 * var(--m))
    calc(var(--s) * 1.732 + 3 * var(--m));
}
